<h1>Medications</h1>

<%@medications.each do |meds|%>
    <%=meds.name%>
<%end%>
<br>

<h2>Add New Med</h2>
<form>
    <label>Medication:</label><input type="text" name="medication" id="medication_name">
    <br>
    <label>Strength:</label><input type="text" name="strength" id="medication_strength"><br>
    <br>
    <label>Quantity:</label><input type="number" name="count" id="medication_count" min="0" max="9999"><br>
    <br>
    <label>Side Effects</label><input type="text" name="side_effects" id="medication_side_effects">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>