<h3>Sign Up<h3>

<form method="POST" action="/signup">
    <input type="text" name="username" value="Username">
    <br>
    <input type="password" name="password" value="Password">
    <br>
    <input type="submit" value="Submit">
</form>