<h1>Welcome to MedBook</h1>

<p>Please log in</p>
<form method="POST" action="/login">
    <input type="text" name="username">
    <br>
    <input type="text" name="password">
    <input type="submit" value="Submit">
</form>