<!DOCTYPE>
    <html>
    <head>
        <style type="text/css">div {display: block;}</style>
    </head>
        <h1>Welcome to MedBook!</h1>
        <br>
        <div>
        <button><a href="/signup">SignUp</a></button> or <button><a href="/login">Login</a></button>
        </div>
    </html>