<!DOCTYPE>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
        <h1>Welcome to MedBook!</h1>
        <br>
        <div>
        <a href="/signup">SignUp</a> or <a href="/login">Login</a>
        </div>
    </html>